## pysparkTJhw07
用SQL完成共同好友，表名friends，列名Id1,Id2   
输出数据格式：  
(A,B) -->(C,D,E,F)

提交SQL或者程序运行截屏。

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
#生成SparkSession实例
spark = SparkSession.builder \
     .master("local[*]") \
     .appName("pysparkTJhw07") \
     .config("spark.some.config.option", "some-value") \
     .getOrCreate()

In [5]:
df1 = spark.read.csv("file:///home/ian/code/github/LSCJcourses/pysparkTJ/friends.txt", sep='\t', header=False)
df1.show(5)

+-----+------+
|  _c0|   _c1|
+-----+------+
|11342|387543|
|11342|427436|
|11342|538214|
|11342|638706|
|11342|645018|
+-----+------+
only showing top 5 rows

In [7]:
v = df1.createTempView('f')

In [9]:
spark.sql('select count(*) from f').show()

+--------+
|count(1)|
+--------+
|    3769|
+--------+

In [20]:
#spark 分组后字符串拼接
df2 = spark.sql('select _c0, concat_ws(" ",collect_set(_c1)) t1  from f GROUP BY _c0')
df2.show(5)

+------+--------------------+
|   _c0|                  t1|
+------+--------------------+
|465399|251691 855832 659...|
|174836|507854 226374 877041|
|     7|19576 514170 4334...|
|805694|185067 21 711442 ...|
|909316|806291 876328 756...|
+------+--------------------+
only showing top 5 rows