In [1]:
# 先导入相关库
import pandas as pd
import os
import ffn
# import matplotlib.pyplot as plt
#ffn - Financial Functions for Python
# 转换到当前目录，即存放数据的目录
#数据日期为2014年1月1日到2014年12月31日
#SAPower代表“航天动力”股票，股票代码为“600343”
#DalianRP代表“大橡塑”股票，股票代码为“600346”

In [2]:
SAPower=pd.read_csv('SAPower.csv',index_col='Date')
SAPower.index=pd.to_datetime(SAPower.index) #索引进行时间转化(时间格式)
DalianRP=pd.read_csv('DalianRP.csv',index_col='Date')
DalianRP.index=pd.to_datetime(DalianRP.index)

In [3]:
SAPower.head()

            Unnamed: 0   Open   High    Low  Close   Volume
Date
2014-01-01           1  14.24  14.24  14.24  14.24        0
2014-01-02           2  14.23  14.57  14.15  14.55  7093500
2014-01-03           3  14.43  14.50  14.09  14.24  6885700
2014-01-06           4  14.14  14.14  13.50  13.68  5462500
2014-01-07           5  13.68  14.14  13.39  13.91  4491900

In [4]:
returnS=ffn.to_returns(SAPower.Close).dropna()
returnD=ffn.to_returns(DalianRP.Close).dropna()

In [6]:
print(returnS.std())
print(returnD.std())

0.041511404614033375
0.020319411733180383

In [7]:
#计算下行风险
def cal_half_dev(returns):
    mu=returns.mean() #计算均值
    temp=returns[returns<mu] #筛选出小于均值的收益
    half_deviation=(sum((mu-temp)**2)/len(returns))**0.5 #计算风险
    return half_deviation

print(cal_half_dev(returnS))
print(cal_half_dev(returnD))

0.03559345345188915
0.013699709683876092

In [8]:
#计算最大回测
ffn.calc_max_drawdown((1+returnS).cumprod())
ffn.calc_max_drawdown((1+returnD).cumprod())
print ("600343 股票最大回撤是: %.4f" % ffn.calc_max_drawdown((1+returnS).cumprod()))

600343 股票最大回撤是: -0.5676

In [9]:
(1+returnS).cumprod()

Date
2014-01-02    1.021770
2014-01-03    1.000000
2014-01-06    0.960674
2014-01-07    0.976826
2014-01-08    1.004213
2014-01-09    0.962079
2014-01-10    0.932584
2014-01-13    0.924157
2014-01-14    0.941011
2014-01-15    0.959270
2014-01-16    0.947331
2014-01-17    0.924860
2014-01-20    0.930478
2014-01-21    0.942416
2014-01-22    0.971208
2014-01-23    0.966994
2014-01-24    0.981742
2014-01-27    0.959972
2014-01-28    0.950140
2014-01-29    1.004916
2014-01-30    1.042135
2014-01-31    1.042135
2014-02-03    1.042135
2014-02-05    1.042135
2014-02-06    1.042135
2014-02-07    1.055478
2014-02-10    1.070225
2014-02-11    1.051966
2014-02-12    1.050562
2014-02-13    1.016152
                ...
2014-11-20    1.094101
2014-11-21    1.110253
2014-11-24    1.143258
2014-11-25    1.161517
2014-11-26    1.171348
2014-11-27    1.179073
2014-11-28    1.187500
2014-12-01    1.162921
2014-12-02    1.176264
2014-12-03    1.200140
2014-12-04    1.227528
2014-12-05    1.350421
2014-12-08    1.438904
2014-12-09    1.294944
2014-12-10    1.337079
2014-12-11    1.389045
2014-12-12    1.389045
2014-12-15    1.432584
2014-12-16    1.428371
2014-12-17    1.389045
2014-12-18    1.417837
2014-12-19    1.355337
2014-12-22    1.247893
2014-12-23    1.235253
2014-12-24    1.317416
2014-12-25    1.333567
2014-12-26    1.334972
2014-12-29    1.282303
2014-12-30    1.268961
2014-12-31    1.292135
Name: Close, Length: 259, dtype: float64